@using TacuDataAccess;
@inject TacuDataAccess.TacuMoneyContext db;
@model BasicNavModel

<ul class="nav nav-tabs">
    @foreach (var cate in db.Categorys.GroupBy(x => x.KeyWord).Select(x => x.Key).OrderBy(x => x))
    {
        <li class="nav-item">
            <a class="nav-link @(Model.Category == cate? "active": "")" 
               href="@Url.Action(
                Model.Action, 
                Model.Controller, 
                new {
                    category =  cate,
                    table = Model.Table})">
                @cate
            </a>
        </li>
    }
</ul>