@{
    ViewData["Title"] = "Home Page";
}

<nav class="nav flex-column">
    <a class="nav-link" aria-current="page" href="@Url.Action("Category","Query", new { table = "CuLoc" })"> Curtis Loc Credit Union Query</a>
    <a class="nav-link" aria-current="page" href="@Url.Action("Category","Query", new { table = "CuccLoc" })"> Curtis Loc Credit Union Credit Card Query</a>
    
    <a class="nav-link" href="@Url.Action("Category","Query", new { table = "TaHuntington" })">Tammy Huntington</a>
    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>
