@model GroupedCategoryModel

<a class="btn btn-primary" href="@Url.Action("Category", "Query", new { category = Model.Category})" role="button">UnGroup</a>
@{await Html.RenderPartialAsync("Nav/CategoryTab", Model); }
<table class="table">
    <thead>
        <tr>

            <th scope="col">
                @{sort("Category", "Category", Model);}

            </th>

            <th scope="col" style="width: 200px;">
                @{var am = Model.Records.Sum(x => x.Sum(y => y.Amount));}
                @if (am != null)
                {
                    <span>
                        <span> Sum: </span> $@am?.ToString("#.00")
                    </span>
                    <br />
                }
                @{sort("Amount", "Amount", Model);}



            </th>
        </tr>

        @{
            void sort(string filterBy, string label, NavModel nav)
            {
                <a href="@Url.Action(nav.Action, nav.Controller, new {
                        category = nav.Category,
                        filterBy = filterBy,
                        reverse = filterBy == Model.FilterBy ? Model.Reverse : false,
                        table = nav.Table})">
                    @label
                </a>
            }
        }
    </thead>
    <tbody>
        @foreach (var r in Model.Records)
        {
            <tr>
                <th scope="row">@r.Key</th>
                @{ var amount = r.Sum(x => x.Amount);}
                @if(amount != null)
                {
                    <td>@(String.Format("{0:n}", amount))</td>
                }
            </tr>
        }
    </tbody>
</table>